<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layouts/layout">

<head>

    <title>AppEdu</title>

</head>

<body>
	
<section layout:fragment="content">

	<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
	<div class="container">
		<h1 class="display-3">Sistema de Cadastro Appedu</h1>
		<p class="lead">O sistema possui apenas cadastro de Aluno inserindo na tabela curso e aluno conforme solicitado</p>
		<a th:href="@{/aluno}" class="btn btn-primary btn-lg">Iniciar testes</a>
	</div>
	</div>

</section>
  
</body>

</html>
