<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorator="Layouts/layout">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section layout:fragment="content">
		 <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Cadastro de Aluno</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" th:object="${aluno}" th:action="@{/save}" method="POST" style="margin: 10px">
                <div class="form-group">
                    <fieldset>
                        <div class="form-group row">
                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                        </div>                    
                        <div class="form-group row">
                            <div class="col-md-1">
                                <input type="hidden" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                                  <input type="hidden" class="form-control input-sm" id="id" th:field="*{curso.id}" readOnly="readonly"/>
                            </div>
                         </div>
                        <div class="form-group row">                                                          
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                <label>Nome:</label>
                                <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="150"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('matricula')}? 'has-error'">
                                <label>Matrícula</label> 
                                <input type="text" class="form-control input-sm" th:field="*{matricula}" maxlength="150" placeholder="Informe a matricula"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('curso.codigo')}? 'has-error'">
                                <label>Código</label> 
                                <input type="text" class="form-control input-sm" th:field="*{curso.codigo}"  maxlength="150" placeholder="Informe o código"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('curso.instituicao')}? 'has-error'">
                                <label>Instituição</label> 
                                <input type="text" class="form-control input-sm" th:field="*{curso.instituicao}"  maxlength="150" placeholder="Informe a instituição"/>
                            </div>
                        </div>                             
                        <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('curso.nome')}? 'has-error'">
                                <label>Nome do curso:</label> 
                                <input type="text" class="form-control input-sm" th:field="*{curso.nome}"  maxlength="150" placeholder="Informe o nome do curso"/>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('semestre')}? 'has-error'">
                                <label>Semestre:</label> 
                                <input type="text" class="form-control input-sm" th:field="*{semestre}"  maxlength="150" placeholder="Informe o semestreo"/>
                            </div>
                        </div> 
                         <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('status')}? 'has-error'">
                                <label>status</label>
                                <select class="form-control" th:field="*{status}" >
                                	<option value="">--Selecionar--</option>
                                	<option th:each="statusAluno : ${T(br.com.apisystecnologia.enums.StatusAluno).values()}"
                                	 th:value="${statusAluno}" th:text="${statusAluno}"></option>
                                </select> 
                               
                            </div>
                        </div>                       
                    </fieldset>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                    <a th:href="@{/aluno}" class="btn btn-sm btn-default">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
	</section>
</body>
</html>