<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
  layout:decorator="Layouts/layout">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section layout:fragment="content">
		 <div class="panel panel-default">
        <div class="panel-heading">
            <strong>alunos</strong>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th>Semestre</th>
                            <th>Curso</th>
                            <th>Instituicao</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="aluno : ${alunos}">
                            <td th:text="${aluno.nome}"></td>
                            <td th:text="${aluno.matricula}"></td>
                            <td th:text="${aluno.semestre}"></td>
                            <td th:text="${aluno.curso.nome}"></td>
                            <td th:text="${aluno.curso.instituicao}"></td>
                            <td th:text="${aluno.status}"></td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm btn-primary" th:href="@{/aluno/edit/{id}(id=${aluno.id})}" >Editar</a>
                                    <a class="delete btn btn-sm btn-danger" th:href="@{/aluno/delete/{id}(id=${aluno.id})}">Excluir</a>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-success" th:href="@{/aluno/add/}" >Adicionar</a>
        </div>
    </div>
	</section>
</body>
</html>